<div class="p-4">
  <full-calendar [options]="calendarOptions"></full-calendar>

  @if (visible) {
  <div class="popover" #popoverElement>
    <h3 class="popover-header">{{ title }}</h3>
    <div class="popover-body">
      @if (endDate) {
      <p>
        <span> <i class="bi bi-hourglass-top me-1"></i> Początek: </span>
        {{ startDate | date : (allDay ? "d MMM y" : "medium") }}
      </p>
      <p class="mt-3">
        <span> <i class="bi bi-hourglass-bottom me-1"></i> Koniec: </span>
        {{ endDate | date : (allDay ? "d MMM y" : "medium") }}
      </p>
      } @else {
      <p>
        <span> <i class="bi bi-hourglass-split me-1"></i> Data: </span>
        {{ startDate | date : (allDay ? "d MMM y" : "medium") }}
      </p>
      }
    </div>
  </div>
  }
</div>
