<div>
  <table class="table table-bordered align-middle">
    <thead>
      <tr>
        <th class="col-2">Nazwa</th>
        <th>Status</th>
        <th>Czas rozpoczęcia</th>
        <th>Czas zakończenia</th>
        <th>Priorytet</th>
        <th>Koszt</th>
        <th>Kategoria</th>
        <th class="col-3">Notatka</th>
        <th class="th-action"></th>
      </tr>
    </thead>
    <tbody>
      @for (task of tasks; track task.id) {
      <tr>
        <td>{{ task.name }}</td>
        <td class="text-nowrap">{{ statusLabels[task.status] }}</td>
        <td class="text-nowrap">
          {{ task.startDate | date : (task.allDay ? "d MMM y" : "medium") }}
        </td>
        <td class="text-nowrap">
          {{ task.endDate | date : (task.allDay ? "d MMM y" : "medium") }}
        </td>
        <td>
          <div [appPriorityBadge]="task.priority"></div>
        </td>
        <td>{{ task.cost | currency : "PLN" }}</td>
        <td>{{ categoryLabels[task.category] }}</td>
        <td>{{ task.note }}</td>
        <td class="text-center">
          <div class="dropdown">
            <button
              class="btn btn-light"
              type="button"
              data-bs-toggle="dropdown"
            >
              <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item">Podgląd</a>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  (click)="openEditTaskModal(task)"
                >
                  Edytuj
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item text-danger"
                  (click)="deleteTask(task.id)"
                >
                  Usuń
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
