<div class="p-4">
    <div class="accordion accordion-flush" id="materials-tools">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#materials">
                    <i class="bi bi-layers text-primary me-2"></i>
                    Materiały
                </button>
            </h2>
            <div id="materials" class="accordion-collapse collapse show my-4">
                @if (materials.length > 0) {
                <app-material-list [materials]="materials"></app-material-list>
                } @else {
                <div class="alert alert-info">Brak materiałów</div>
                }
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tools">
                    <i class="bi bi-hammer text-primary me-2"></i>
                    Narzędzia
                </button>
            </h2>
            <div id="tools" class="accordion-collapse collapse show my-4">
                @if (tools.length > 0) {
                <app-tool-list [tools]="tools"></app-tool-list>
                } @else {
                <div class="alert alert-info">Brak narzędzi</div>
                }
            </div>
        </div>
    </div>
</div>