<div class="table-responsive">
  <table class="table table-bordered align-middle">
    <thead>
      <tr>
        <th class="th-image">Zdjęcie</th>
        <th class="col-2">Nazwa</th>
        <th>Status</th>
        <th class="text-nowrap">Termin odbioru/dostawy</th>
        <th>Koszt</th>
        <th>Ilość</th>
        <th>Typ</th>
        <th>Lokalizacja</th>
        <th>Link</th>
        <th class="col-3">Notatka</th>
        <th class="th-action"></th>
      </tr>
    </thead>
    <tbody>
      @for (material of materials; track material.id) {
      <tr>
        <td>
          @if (material.imageUrl) {
          <img [src]="material.imageUrl" class="img-thumbnail" />
          }
        </td>
        <td>{{ material.name }}</td>
        <td class="text-nowrap">{{ statusLabels[material.status] }}</td>
        <td class="text-nowrap">
          {{
            material.deliveryDate
              | date : (material.allDay ? "d MMM y" : "medium")
          }}
        </td>
        <td>{{ material.cost | currency : "PLN" }}</td>
        <td class="text-nowrap">
          {{ material.quantity }}
          {{ material.unit ? unitLabels[material.unit] : "" }}
        </td>
        <td>{{ material.type }}</td>
        <td>{{ material.location }}</td>
        <td>{{ material.link }}</td>
        <td>{{ material.note }}</td>
        <td class="text-center">
          <div class="dropdown">
            <button
              class="btn btn-light"
              type="button"
              data-bs-toggle="dropdown"
            >
              <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  (click)="openEditMaterialModal(material)"
                >
                  <i class="bi bi-pencil me-1"></i>
                  Edytuj
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item text-danger"
                  (click)="deleteMaterial(material.id)"
                >
                  <i class="bi bi-trash me-1"></i>
                  Usuń
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
