<div class="d-flex flex-column border-end" id="sidebar">
  <div class="p-4 border-bottom" id="logo">
    <a routerLink="/dashboard"
      ><img src="/assets/images/remonto_logo.svg" alt="Remonto"
    /></a>
  </div>

  <div class="p-4 border-bottom" id="search">
    <input
      type="text"
      id="searchInput"
      class="form-control"
      placeholder="Szukaj"
      (click)="redirectToSearch()"
    />
  </div>

  <div class="p-4 mb-auto">
    <app-project-list></app-project-list>
  </div>

  <div class="p-4 border-top d-flex align-items-center">
    <i class="bi bi-person-circle" id="profile-icon"></i>
    @if (user$ | async; as user) {
    <div class="ms-2 me-4">{{ user.firstName + " " + user.lastName }}</div>
    }
    <div class="dropdown ms-auto">
      <button
        class="btn btn-sm btn-light"
        type="button"
        data-bs-toggle="dropdown"
      >
        <i class="bi bi-three-dots"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" [routerLink]="['./profile']">Profil</a>
        </li>
        <li>
          <button type="button" class="dropdown-item" (click)="logout()">
            Wyloguj się
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
