#sidebar {
  max-width: 320px;
  width: max-content;
  height: 100%;
  background-color: var(--gray-100);

  #logo {
    height: 80px;
  }

  #search {
    height: 80px;
  }

  .project-link {
    text-decoration: none;
    color: var(--gray-400);
  }

  .project-link-active {
    font-weight: 500;
    color: var(--gray-800) !important;
  }

  #profile-icon {
    font-size: 2rem;
    color: var(--gray-300);
  }
}
