<div>
  <table class="table table-bordered align-middle">
    <thead>
      <tr>
        <th class="th-image">Zdjęcie</th>
        <th class="col-2">Nazwa</th>
        <th>Status</th>
        <th class="text-nowrap">Termin odbioru/dostawy</th>
        <th>Koszt</th>
        <th>Ilość</th>
        <th>Lokalizacja</th>
        <th>Link</th>
        <th class="col-3">Notatka</th>
        <th class="th-action"></th>
      </tr>
    </thead>
    <tbody>
      @for (tool of tools; track tool.id) {
      <tr>
        <td>
          @if (tool.imageUrl) {
          <img [src]="tool.imageUrl" class="img-thumbnail" />
          }
        </td>
        <td>{{ tool.name }}</td>
        <td>{{ statusLabels[tool.status] }}</td>
        <td class="text-nowrap">
          {{ tool.deliveryDate | date : (tool.allDay ? "d MMM y" : "medium") }}
        </td>
        <td>{{ tool.cost | currency : "PLN" }}</td>
        <td>{{ tool.quantity }}</td>
        <td>{{ tool.location }}</td>
        <td>{{ tool.link }}</td>
        <td>{{ tool.note }}</td>
        <td class="text-center">
          <div class="dropdown">
            <button
              class="btn btn-light"
              type="button"
              data-bs-toggle="dropdown"
            >
              <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  (click)="openEditToolModal(tool)"
                >
                  Edytuj
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item text-danger"
                  (click)="deleteTool(tool.id)"
                >
                  Usuń
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
