<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">
      Nazwa <span class="text-danger">*</span>
    </label>
    <input
      id="name"
      formControlName="name"
      class="form-control"
      placeholder="Wprowadź nazwę zadania"
    />
    <shared-form-error [control]="form.get('name')"></shared-form-error>
  </div>

  <div class="mb-3">
    <label for="category" class="form-label">
      Kategoria <span class="text-danger">*</span>
    </label>
    <select id="category" formControlName="category" class="form-select">
      <option value="null" disabled selected>Wybierz kategorię</option>
      @for (category of categories; track $index) {
      <option [value]="category" [label]="categoryLabels[category]"></option>
      }
    </select>
    <shared-form-error [control]="form.get('category')"></shared-form-error>
  </div>

  <div class="mb-3">
    <label for="status" class="form-label">Status</label>
    <select id="status" formControlName="status" class="form-select">
      <option value="null" disabled selected>Wybierz status</option>
      @for (status of statuses; track $index) {
      <option [value]="status" [label]="statusLabels[status]"></option>
      }
    </select>
    <shared-form-error [control]="form.get('status')"></shared-form-error>
  </div>

  <div class="mb-3 form-check">
    <input
      id="allDay"
      type="checkbox"
      formControlName="allDay"
      class="form-check-input"
    />
    <label for="allDay" class="form-check-label">Całodniowe zadanie</label>
  </div>

  <div class="mb-3">
    <label for="startDate" class="form-label">
      Początek @if (form.value.allDay) {<span class="text-danger">*</span>}
    </label>
    <input
      id="startDate"
      [type]="form.value.allDay ? 'date' : 'datetime-local'"
      formControlName="startDate"
      class="form-control"
    />
    <shared-form-error [control]="form.get('startDate')"></shared-form-error>
  </div>

  <div class="mb-3">
    <label for="endDate" class="form-label">Koniec</label>
    <input
      id="endDate"
      [type]="form.value.allDay ? 'date' : 'datetime-local'"
      formControlName="endDate"
      class="form-control"
    />
    @if (form.errors?.['endDateInvalid'] && form.touched) {
    <div class="form-error mt-1">
      <small class="text-danger">
        Data zakończenia nie może być wcześniejsza niż data rozpoczęcia.
      </small>
    </div>
    }
  </div>

  <div class="mb-3">
    <label for="priority" class="form-label">Priorytet</label>
    <select id="priority" formControlName="priority" class="form-select">
      @for (priority of priorities; track $index) {
      <option [ngValue]="priority" [label]="priorityLabels[priority]"></option>
      }
    </select>
    <shared-form-error [control]="form.get('priority')"></shared-form-error>
  </div>

  <div class="mb-3">
    <label for="cost" class="form-label">Koszt</label>
    <div class="input-group">
      <input
        type="number"
        id="cost"
        class="form-control"
        formControlName="cost"
        step="0.01"
      />
      <span class="input-group-text">zł</span>
    </div>
  </div>

  <div class="mb-3">
    <label for="note" class="form-label">Notatka</label>
    <textarea
      id="note"
      formControlName="note"
      class="form-control"
      placeholder="Notatka"
    ></textarea>
  </div>

  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-light" (click)="onCancel()">
      Anuluj
    </button>
    <button type="submit" class="btn btn-primary">Zapisz</button>
  </div>
</form>
