@if (control && control.errors && control.touched) {
<div class="form-error mt-1">
  @if (control.errors['required']) {
  <small class="text-danger">To pole jest wymagane.</small>
  } @if (control.errors['email']) {
  <small class="text-danger">Nieprawidłowy format adresu email.</small>
  } @if (control.errors['pattern']) {
  <small class="text-danger">Nieprawidłowy format.</small>
  } @if (control.errors['min']) {
  <small class="text-danger">
    Minimalna wartość to {{ control.errors["min"].min }}.
  </small>
  } @if (control.errors['max']) {
  <small class="text-danger">
    Maksymalna wartość to {{ control.errors["min"].min }}.
  </small>
  } @if (control.errors['minlength']) {
  <small class="text-danger">
    Minimalna długośc to
    {{ control.errors["minlength"].requiredLength }} znaki.
  </small>
  } @if (control.errors['maxlength']) {
  <small class="text-danger">
    Maksymalna długość to
    {{ control.errors["maxlength"].requiredLength }} znaków.
  </small>
  } @if (control.errors['fileSize']) {
  <small class="text-danger">
    Plik jest za duży (max.
    {{ control.errors["fileSize"].requiredSize / 1024 / 1024 }} MB).
  </small>
  }
</div>
}
