<div class="p-4">
  <div class="row g-4">
    <div class="col-md-6">
      <app-info-general
        [project]="project"
        (projectUpdated)="refreshProject()"
      ></app-info-general>
    </div>
    <div class="col-md-6">
      <app-info-budget [projectBudget]="projectBudget"></app-info-budget>
    </div>
    <div class="col-md-6">
      <app-info-images [projectId]="projectId"></app-info-images>
    </div>
    <div class="col-md-6">
      <app-info-notes [projectId]="projectId"></app-info-notes>
    </div>
  </div>
</div>
