<div class="p-4">
  <div class="card">
    <div class="card-header">
      <h1>Profil użytkownika</h1>
    </div>
    <div class="card-body">
      @if (user$ | async; as user) {
      <div class="d-flex flex-column align-items-start">
        <p><span>Imię:</span>{{ user.firstName }}</p>
        <p><span>Nazwisko:</span>{{ user.lastName }}</p>
        <p><span>Email:</span>{{ user.email }}</p>

        <div class="d-flex justify-content-between w-100">
          <button class="btn btn-primary" (click)="openEdit(user)">
            <i class="bi bi-pencil-square me-1"></i> Edytuj
          </button>
          <button class="btn btn-primary" (click)="openPasswordReset(user)">
            <i class="bi bi-key me-1"></i> Resetuj hasło
          </button>
          <button class="btn btn-outline-danger" (click)="openDelete(user)">
            <i class="bi bi-trash"></i> Usuń konto
          </button>
        </div>
      </div>
      } @else {
      <div class="alert alert-info text-center">Ładowanie profilu...</div>
      }
    </div>
  </div>
</div>
