<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">
      Nazwa <span class="text-danger">*</span>
    </label>
    <input
      id="name"
      formControlName="name"
      class="form-control"
      placeholder="Wprowadź nazwę narzędzia"
    />
    <shared-form-error [control]="form.get('name')"></shared-form-error>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Zdjęcie</label>
    <input type="file" class="form-control" (change)="onFileSelected($event)" />
    @if (imagePreview) {
    <div class="mt-3">
      <img
        [src]="imagePreview"
        class="img-thumbnail"
        style="max-height: 150px"
      />
      <button
        type="button"
        class="btn btn-sm btn-danger mt-2"
        (click)="removeImage()"
      >
        Usuń zdjęcie
      </button>
    </div>
    }
  </div>

  <div class="mb-3">
    <label for="status" class="form-label">
      Status <span class="text-danger">*</span>
    </label>
    <select id="status" formControlName="status" class="form-select">
      <option value="null" disabled selected>Wybierz status</option>
      @for (status of statuses; track $index) {
      <option [value]="status" [label]="statusLabels[status]"></option>
      }
    </select>
    <shared-form-error [control]="form.get('status')"></shared-form-error>
  </div>

  @if (status === 'IN_DELIVERY' || status === 'READY_FOR_PICKUP') {
  <div class="mb-3">
    <label for="deliveryDate" class="form-label"
      >{{
        status === "READY_FOR_PICKUP" ? "Termin odbioru" : "Termin dostawy"
      }}
      @if (form.value.allDay) {<span class="text-danger">*</span>}
    </label>
    <div class="d-flex align-items-center gap-2">
      <input
        id="deliveryDate"
        [type]="form.value.allDay ? 'date' : 'datetime-local'"
        formControlName="deliveryDate"
        class="form-control"
      />
      <div class="form-check">
        <input
          id="allDay"
          type="checkbox"
          formControlName="allDay"
          class="form-check-input"
        />
        <label class="form-check-label" for="allDay">Całodniowe</label>
      </div>
    </div>
    <shared-form-error [control]="form.get('deliveryDate')"></shared-form-error>
  </div>
  }

  <div class="mb-3 d-flex gap-2">
    <div class="w-100">
      <label for="cost" class="form-label">Koszt</label>
      <div class="input-group">
        <input
          type="number"
          id="cost"
          class="form-control"
          formControlName="cost"
          step="0.01"
        />
        <span class="input-group-text">zł</span>
      </div>
    </div>

    <div>
      <label for="quantity" class="form-label">Ilość</label>
      <input
        type="number"
        id="quantity"
        class="form-control"
        formControlName="quantity"
        step="1"
      />
    </div>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Lokalizacja</label>
    <input
      id="location"
      formControlName="location"
      class="form-control"
      placeholder="Miejsce przechowywania/odbioru"
    />
    <shared-form-error [control]="form.get('location')"></shared-form-error>
  </div>

  <div class="mb-3">
    <label for="link" class="form-label">Link</label>
    <input
      id="link"
      formControlName="link"
      class="form-control"
      placeholder="Link do produktu"
    />
    <shared-form-error [control]="form.get('link')"></shared-form-error>
  </div>

  <div class="mb-3">
    <label for="note" class="form-label">Notatka</label>
    <textarea
      id="note"
      formControlName="note"
      class="form-control"
      placeholder="Notatka"
    ></textarea>
  </div>

  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-light" (click)="onCancel()">
      Anuluj
    </button>
    <button type="submit" class="btn btn-primary">Zapisz</button>
  </div>
</form>
