<div class="table-responsive">
  <table class="table table-bordered align-middle">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Ilość zadań</th>
        <th>Ilość materiałów</th>
        <th>Ilość narzędzi</th>
        <th class="th-action"></th>
      </tr>
    </thead>
    <tbody>
      @for (template of templates; track template.id) {
      <tr>
        <td>{{ template.project.name }}</td>
        <td>{{ template.project.description }}</td>
        <td>{{ template.taskCount }}</td>
        <td>{{ template.materialCount }}</td>
        <td>{{ template.toolCount }}</td>
        <td class="text-center">
          <div class="dropdown">
            <button
              class="btn btn-light"
              type="button"
              data-bs-toggle="dropdown"
            >
              <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a [routerLink]="[template.id]" class="dropdown-item">
                  <i class="bi bi-file-text me-1"></i>
                  Szczegóły
                </a>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  (click)="openEditTemplateModal(template)"
                >
                  <i class="bi bi-pencil me-1"></i>
                  Edytuj
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item text-danger"
                  (click)="deleteTemplate(template.id)"
                >
                  <i class="bi bi-trash me-1"></i>
                  Usuń
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
