@import "variables";

@import "bootstrap/scss/bootstrap";

@import "bootstrap-icons/font/bootstrap-icons.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary: #5887ff;
  --white: #fff;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0;
}

app-project-overview,
app-user-profile {
  width: 100%;
}

.btn {
  font-size: 14px;

  &.btn-primary {
    color: var(--gray-50) !important;
  }

  &.btn-light {
    background-color: #fff !important;
    border-color: var(--gray-300);
    color: var(--gray-800);

    &:hover {
      background-color: var(--gray-100) !important;
    }
  }

  &.btn-outline-danger:hover {
    color: var(--gray-50) !important;
  }
}

table.table {
  font-size: 13px;
  margin-bottom: 0;

  thead th {
    background-color: var(--gray-100) !important;

    &.th-action {
      width: 50px;
    }
  }
}

.alert-info {
  background-color: #e6edff;
  border-color: #ccdaff;
  font-size: 13px;
}

.alert-danger {
  background-color: #faebee;
  border-color: #ecb9c2;
  font-size: 13px;
}

.card {
  border-radius: 0.25rem;
  border-color: var(--gray-200);
  .card-header {
    background-color: var(--gray-100);
    border-color: var(--gray-200);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.accordion-button {
  font-weight: 500;

  &:not(.collapsed) {
    background-color: var(--gray-100);
  }
}

.dropdown-item {
  cursor: pointer;

  &:hover {
    background-color: var(--gray-100);
  }
}

.form-label {
  font-weight: 500;
}
